
#hideit{
    border: none;
}
.whiteBack{
    background-color: white;
    display: flex;
    justify-content: center;   
}
article > h1 {
    margin-top: 5ch;
    margin-bottom: 3ch;
    text-align: center;
}

#arrowImg{
    width: 1.5ch;
    position: relative;
    top: 0.2ch;
}    

.grid{
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: 50ch 50ch ;
    grid-template-columns:30ch  38ch ;
    text-align: start;
    column-gap: 15ch;
    row-gap: 8ch;
}
.grid > section{
    margin-bottom: 10ch;
}

.outerLine{
    width: 22vw;
    height: 12.5cm;
    margin-bottom: 10ch;
    overflow: hidden;
    scroll-behavior: hidden;
    border: 1px solid black;
    background-color: transparent;

}
.hellobozo{
    margin-top: 3ch;
    position: relative;
    bottom: 11.6ch;
    text-align: center;
    padding-top: 2ch;
    display: flex;
    flex-direction: column;
    position: relative;    
    bottom: 10em;
}


.group-of-photos{
    width: 22vw ;
    height: 20vw;
    object-fit: contain;
    position: relative;
    bottom: 4em;
}

#lastButton{
    padding: 1rem;
    text-align: center;
    padding-bottom: 1ch;
    color: black;
    border: none;
   background-color: white;
    border: 1px solid black;
}
#lastButton:hover{
    border: 1px solid rgb(206, 202, 202);
    color: white;
    background-color: rgb(0, 0, 0);
    transition: 0.3s;
    cursor: pointer;
}
