/* ! THE NAV BAR */
nav{
    font-size: 0.5vw;
}

/*? The elements of the nav */

.NavB{
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid black; */
    align-items: baseline;
    opacity: 0.8;
    margin-top: 3em;
    flex-wrap: wrap;
}
/* My name */
#myName{
    font-size: 2vw;
    /* background-image: linear-gradient( #cc2b5e, #753a88);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent; */
    justify-self: flex-start;
    margin: 0ch 2ch;
}

.buttonn{
    color: white;
    background-color: #6048F6;
    padding: 1vh;
    /* font-size: 1vw; */
    cursor: pointer;
    margin-bottom: 1rem;
    margin: 0ch 2ch;
    margin-bottom: 1ch;
}

.NabB2{
    display: flex;
    flex-direction: row;

}
.nav-elem{
    margin: 0ch 5ch;
}
.nav-elem:hover{
    opacity: 0.5;
    transition: 0.10s;
    cursor: pointer;
}
.nav-elem:active{
    transition: 0s;
    opacity: 1;
}