    /* !The Main Background components */
.theFather{
    background: linear-gradient(to top, rgb(77, 75, 75) , white );
    color: rgb(0, 0, 0);
    width: 100%;
    max-height: 100vh;
}
/* The Contact Us */
.title{
    text-align: center;
    margin-top: 15ch;
    font-size: 1.5vmax;
}
/* The positioning */
.mange{
    display: grid;
    grid-template-columns: 1fr 2fr;

}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*  The form elements */
.theContactForm{
    margin-top: 10vh;
}

/* The textArea */
.textArea{
    resize: none;
    padding: 0.5em;
    margin-right: 1rem;
}
#firstName, #email, #lastName{
    width: 100ch;
    height: 4ch;
    border-radius: 1ch;
    margin: 1ch 0ch;
    border: none;
    padding: 0.5em;
}
input.inputError, select.inputError{
    border:  3px  solid #D38087 !important;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}


.error-inp{
    color:#D38087;
    font-size: small;
}
button:disabled{
    opacity: 0.35;
}