@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=League+Gothic&family=Oxygen&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: 'BhuTuka Expanded One', cursive;
  margin: 0px;
  padding: 0px;
  font-family: 'League Gothic', sans-serif;
  font-family: 'Oxygen', sans-serif;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
body{
  background-color: #DBD5D5;
}